*.classpath
*.project
*.settings/
/bin/
._OurTests.txt
CR_ClueLayoutBadColumns.csv
CR_ClueLayoutBadRoom.csv
CR_ClueLegendBadFormat.txt
OurTests.txt
allclasses-frame.html
allclasses-noframe.html
clueGame/
constant-values.html
deprecated-list.html
gitlog.txt
help-doc.html
index-files/
index.html
overview-tree.html
package-list
script.js
stylesheet.css

